/* setting the webpage to use border box and reseting all the margin and padding */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* gives the body a background color */
body {
    background-color: #d9dcd6;
}
/* changes the header bc color to bblue and font color to white  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* displays the title inline to the nav */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* the "seo" part of the logo gets a sligly darker color from the rest */
header h1 .seo {
    color: #d9dcd6;
}
/* positions the nav in the top right corner of the page  */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* removes the list decorations  */
header nav ul {
    list-style-type: none;
}
/* speperates the nav items from eachother  */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* the rest of the letters in the logo are white  */
header a {
    color: #ffffff;
    text-decoration: none;
}
/* paragraph text font size */
p {
    font-size: 16px;
}
/* positions and sizes the main image */
.hero img{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* the images in the main content blocks are on the left side of the block */
.float-left {
    float: left;
    margin-right: 25px;
}
/* positions and sizes the 3 main content blocks */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* positions and styles the right bbenifits block */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
}
/* positions the 1st block */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* positions the 2nd block */
.benefit-brand {
    margin-bottom: 72px;
    color: #ffffff;
}
/* positions the 3rd block */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* positions the title of the 1st block */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* positiosn the title of the 2nd block */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* positions the title of the 3rd block */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* positions the logo of the 1st block */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* positions the logo of the 2nd block */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* positions the logo of the 3rd block */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* styles the 1st main content block */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* styles the 2nd main content block */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* styles the 3rd main content bblock */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* properly sizes the image of 1st main content block */
.search-engine-optimization img {
    max-height: 200px;
    width: 300px;
}
/* properly sizes the image of 2nd main content block */
.online-reputation-management img {
    max-height: 200px;
    width: 300px;
}
/* porperly sizes the image of 3rd main content block */
.social-media-marketing img {
    max-height: 200px;
    width: 300px;
}
/* styles the title of 1st main content block */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* styles the title of 2nd main content block */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* styles the title of 3rd main content block */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* styles the footer  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* sizes the footer title */
footer h2 {
    font-size: 20px;
}
